.food-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  animation: fade-in 1s;
}

.food-item-img-container {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

.food-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-item-info {
  padding: 20px;
}

.food-item-name {
  margin-bottom: 10px;
  color: rgba(255, 0, 0, 0.886);
}

.food-item-name p {
  font-size: 20px;
  font-weight: 500;
}

.food-item-price {
  font-size: 18px;
  font-weight: 500;
  color: rgb(6, 139, 6);
  margin: 10px 0;
}

.food-item-img-container {
  position: relative;
}

.food-item-img-container .add {
  width: 45px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
}

.food-item-counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: whitesmoke;
}

.food-item-counter img {
  width: 30px;
}
