.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px 40px;
}

.menu h1{
    color: #262626;
    font-weight: 500;
    font-size: 2.5vw;
    text-align: center;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin: 20px 30px;
    overflow-x: scroll ;
}

.menu-list::-webkit-scrollbar {
    display: none;
}

.menu-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.menu-list-item p{
    margin-top: 10px;
    font-size: max(1.4vw, 16px);
    color: #747474;
    cursor: pointer;
}

.menu hr{
    margin: 10px 50px;
    height: 2px;
    background-color: black;
}

.menu-list-item .active{
    border: 4px solid rgb(255, 215, 0);
    padding: 2px;
}