.food-display{
    margin: 30px 60px;
}

.food-display h2{
    font-size: max(2vw, 24px);
    font-weight: 600;
    margin-left: 100px;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 30px;
    gap: 30px;
    row-gap: 50px;
}